* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Roboto', sans-serif;

}

header {
    background-color: beige;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 0;
}

li {
    list-style-type: none;

}

.content--heading {
    font-size: 1.6rem;
    padding: 2em 0;

}

.heading--paragraph, .middle--paragraph {
    margin: 1em auto;
    font-size: 1.4rem;

    max-width: 75%;
    font-weight: 500;
}

#content {

    text-align: center;
    min-height: 100vh;
    background: rgb(205,251,63);
    background: radial-gradient(circle, rgba(205,251,63,1) 0%, rgba(16,168,45,0.9976905311778291) 100%);
}

img {
    height: 250px;
}

.navbar--image {
    display: none;
    width: 35px;
    height: auto;
    margin-right: 5px;
    
}

li:hover {
    color: #2E5075;
}

li:hover>img {
    display: inline-block;
} 

.one, .three {
    width: 25px;
}

.dishBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: black solid 4px;
    width: 75%;
    margin: 0 auto;
    
}

.dish--image {
    width: 50%;
    object-fit: cover;
    
}

.dishBox:nth-of-type(2),
.dishBox:nth-of-type(3) {
    border-top: none;
}

.infoContainer {
    font-size: 1.2rem;
    margin-top: 1.5em;
}