* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Roboto', sans-serif;

}

header {
    position: fixed;
    background-color: beige;
    width: 100%;
    top:0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 0;
}

li {
    list-style-type: none;

}

.content--heading {
    font-size: 1.6rem;
    padding: 4em 0 2em 0;

}

.heading--paragraph, .middle--paragraph {
    margin: 1em auto;
    font-size: 1.4rem;

    max-width: 75%;
    font-weight: 500;
}

#content {

    text-align: center;
    min-height: 100vh;
    background: rgb(205,251,63);
    background: radial-gradient(circle, rgba(205,251,63,1) 0%, rgba(16,168,45,0.9976905311778291) 100%);
}

img {
    height: 250px;
}

.navbar--image {
    display: none;
    width: 35px;
    height: auto;
    margin-right: 5px;
    
}

li:hover {
    color: #2E5075;
}

li:hover>img {
    display: inline-block;
} 

.one, .three {
    width: 25px;
}

/* Menu */

.dishTextBox {
    width: 75%;
    
}

.dishBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    align-content: center;
    justify-items: center;
    align-items: center;
    border: black solid 4px;
    width: 75%;
    margin: 0 auto;
    
}

.dish--image {
    
    width: auto;
    height: auto;
    max-width: 65%;
    
    
    object-fit: contain;
}

.dishBox:nth-of-type(2),
.dishBox:nth-of-type(3) {
    border-top: none;
}

.infoContainer {
    margin-top: 5em;
}

.contactTitle {
    font-size: 2em;
}

.contactText {
    font-size: 1.5;
}

/* Bottom images */

.imagesContainer {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    border: black 2px solid;
    border-left: none;
    border-right: none;
    height: 70%;

}

.pepe-comfy {
    position: relative;
    transition: transform 0.3s ease;
    transform: translateX(0px);
}

.pepe-comfy:hover {
    transform: translateX(200px);
}

.pepe-cooking {
    position: relative;
    transition: transform 0.3s ease;
    transform: translateX(0px);
    z-index: +2;
}

.pepe-cooking:hover {
    transform: translateX(-200px);
}

.imageText {
    font-size: 1.2rem;
    position: fixed;
    right: 30%;
    
    
}

.imageTextLeft {
    font-size: 1.2rem;
    position: fixed;
    left: 30%;
    z-index: +1;
    
}



@media (max-width: 1200px) {
    .imageText {
        right: 15%;
    }

    .pepe-cooking {
        left: 15%;
    }

    .imagesContainer img {
        min-width: 10%;
        object-fit: cover;
    }
}

@media (max-width: 1000px) {
    .imageText {
        right: 10%;
    }

    .pepe-cooking {
        left: 10%;
    }
}

@media (max-width: 900px) {
    .imageText {
        right: 15%;
    }
    .pepe-cooking {
        left: 15%;
    }
} 

@media (max-width: 700px) {
    .imageText {
        right: 20%;
    }
    .pepe-cooking {
        left: 20%;
    }
} 

@media (max-width: 500px) {
    .imageText {
        right: 11%;
    }
    .pepe-cooking {
        left: 11%;
    }
}